<body>
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center"><br><strong>Become a Volunteer</strong><br></h1>
                    <p style="font-size:17px;">
                        <br><strong>We provide our volunteers the opportunity to grow through selfless action. You can contribute in any of the below ways</strong>–<br><br>.Give classes at SADS collaborated NGOs – such as dance classes, motivational talks
                        for kids, musical instrument classes etc.&nbsp;<br><br>Help us motivate people to give away the items that are&nbsp;gathering dust in some corner of their house- Be part of our amazing campaigns or help us design one!!<br><br>Organize
                        drives at schools, colleges, societies and help us spread happiness together.<br><br>Use your talents to spread happiness&nbsp;?<br><br>If you are a Homemaker, be our Society representative and help us organize drives at your society.<br>If
                        you are a photographer, you can make our special kids happy. They sooooooo love posing and getting clicked.<br>If you are creative and good at animations, you can make small animated videos that motivate people to donate for the
                        cause.<br>If you are a techy guy, you can help us grow in making our platform better or take up a project at one of our NGO partners.<br><br><strong>Whatever talent you have, we are sure you can somehow make use of it to spread happiness with us&nbsp;?&nbsp;!!</strong><br><br>Write
                        to us at&nbsp;<a href="mailto:career@sadsindia.org">career@sadsindia.org</a>&nbsp;with your resume mentioning what type of volunteering opportunities you are looking for. Keep the subject line as “Volunteer: &lt;name&gt;,&lt;skillset&gt;”.&nbsp;<strong>Happy Volunteering</strong>&nbsp;?<br><br>
                    </p>
                </div>
            </div><img src="~/Content/NewFolder1/collage-site-vounteer.jpg" style="width:100%;">
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/UnderSpeed---Floating-Label.js"></script>
    <script src="assets/js/ebs-bootstrap-datepicker.js"></script>
    <script src="assets/js/Fixed-navbar-starting-with-transparency.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark.js"></script>
</body>
