<body>

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center"><br><br><strong>Become our Brand Partner</strong><br></h1>
                    <p style="font-size:17px;">
                        <br><strong>How is your brand giving back?</strong><br>If someone knew how your product was made, would they still respect your brand?<br>What does&nbsp;your brand stand for?<br>What value does your brand bring to my customers’ lives?<br>What
                        problem does your brand solve?<br><br>If your brand is socially conscious, stands for a cause and&nbsp;believes&nbsp;in sustainable growth then we would love to join hands with you!!<br><br>Let’s spread happiness together by recognizing
                        our amazing changemakers (donors).<strong>Every charitable act is a stepping stone towards heaven&nbsp;– Henry Ward BeecherBut we at “SADS India” believe that you deserve a lot more here on Earth as well.</strong><br>Our motto
                        is “Spread Happiness, Stay Happy”! Our donors help us in spreading happiness by making in-kind donations and we make them smile by thanking them with “the happiness box” as a gesture of thanks for making a difference.<br><br>
                    </p>
                </div>
            </div><img src="~/Content/NewFolder1/pink-gift-box_LRG.jpg" style="width:100%;">
        </div>
    </section>
</body>
