
<div class="container-fluid" id="splash" style=" background-image:url(&quot;https://sadsindia.org/wp-content/themes/fusion/images/hero/happy_children_SADS_1920x800.jpg&quot;);">
<h1 style="font-size:60px;padding:0 5%;line-height:60px;font-weight:700;color:rgb(241, 85, 34);font-family:Nunito;text-shadow:rgba(0, 0, 0, 0.75) 1px 1px 2px;visibility:inherit;"><strong>Let's Spread Happiness</strong><br></h1>
<p style="font-size:24px;padding:0 5%;line-height:34px;font-weight:600;color:rgb(255, 255, 255);font-family:Nunito;text-shadow:rgba(0, 0, 0, 0.75) 1px 1px 2px;visibility:inherit;"><br><strong>We Deliver your Donations to the Right Place</strong><br></p>
<div class="d-inline-flex" id="buttonsInlineFlex">
    @Html.ActionLink("Donate", "Detail", "Home", new {@class="btn btn-primary" ,role="button", style="margin:5px;font-size:22px;width:160px;line-height:24px;font-weight:400;color:rgb(255, 255, 255);font-family:Nunito;background-color:rgb(241, 86, 34);border-color:rgb(0, 0, 0);border-radius:26px;transition:all 0.2s linear;outline:none;box-shadow:rgb(153, 153, 153) 0px 0px 0px 0px;box-sizing:border-box;cursor:pointer;margin:36px auto 0;padding:12px 35px;" })
@*<a class="btn btn-primary" role="button" href="" style="margin:5px;font-size:22px;width:160px;line-height:24px;font-weight:400;color:rgb(255, 255, 255);font-family:Nunito;background-color:rgb(241, 86, 34);border-color:rgb(0, 0, 0);border-radius:26px;transition:all 0.2s linear;outline:none;box-shadow:rgb(153, 153, 153) 0px 0px 0px 0px;box-sizing:border-box;cursor:pointer;margin:36px auto 0;padding:12px 35px;">Donate</a>*@
</div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center" style="margin:3% 0 0 0;font-family:Nunito, sans-serif;"><strong>HOW WE WORK</strong><br></h1>
                <h1 style="content:&quot;&quot;;display:block;width:160px;height:5px;background-color:#f15622;bottom:-15px;left:50%;position:absolute;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <img src="~/Content/NewFolder1/icon1-300x250.png" style="display:block;margin:0 auto;">
                <h1 class="text-center" style="font-size:25px;color:#f15622;font-weight:bold;letter-spacing:1px;font-family:Nunito, sans-serif;"><strong>Schedule a Pickup</strong><br></h1>
                <p class="text-center">Enter the pickup location, discover the NGOs around you that are looking for items you want to donate, and schedule a pickup. *convenience fee applicable<br></p>
            </div>
            <div class="col-12 col-lg-4">
                <img src="~/Content/NewFolder1/iconvannew-1-300x200.png" style="display:block;margin:0 auto;">
                <h1 class="text-center" style="font-size:25px;color:#f15622;font-weight:bold;letter-spacing:1px;font-family:Nunito, sans-serif;"><strong>Donate at your DoorStep</strong><br></h1>
                <p class="text-center">We will come to your doorstep to pick up the donations at the appointed time and deliver them to the NGO where they can be given a new life.<br></p>
            </div>
            <div class="col-12 col-lg-4">
                <img src="~/Content/NewFolder1/icon3-300x250.png" style="display:block;margin:0 auto;">
                <h1 class="text-center" style="font-family:Nunito, sans-serif;font-size:25px;color:#f15622;font-weight:bold;letter-spacing:1px;"><strong>Get Rewards</strong><br></h1>
                <p class="text-center">Our brand partners provide our donors gifts as a “gesture of thanks” for making a difference.<br>Be ready to get surprised!<br></p>
            </div>
        </div>
    </div>
</section>
<section style="background-color:#f6f6f7;font-family:Nunito, sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center" style="margin:5% ;"><strong>DONATE ALMOST ANYTHING</strong><br></h1><span style="content:&quot;&quot;;display:block;width:160px;height:5px;background-color:#f15622;bottom:-15px;left:50%;position:absolute;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);margin:0 0 5%;"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="~/Content/NewFolder1/SADS-Icons-04-180x180.png" style="max-width:180px;width:100%;vertical-align:middle;display:block;height:auto;margin:0 auto;">
                <h1 class="text-center" style="color:#f15622;font-size:20px;font-weight:700;letter-spacing:2px;font-family:Nunito, sans-serif;margin-top:18px;margin-bottom:10px;">Shoes</h1>
            </div>
            <div class="col-4">
                <img src="~/Content/NewFolder1/SADS-Icons-05-180x180.png" style="max-width:180px;width:100%;margin:0 auto;vertical-align:middle;display:block;height:auto;">
                <h1 class="text-center" style="color:#f15622;font-size:20px;font-weight:700;letter-spacing:2px;font-family:Nunito, sans-serif;margin-top:18px;margin-bottom:10px;">Stationary</h1>
            </div>
            <div class="col-4">
                <img src="~/Content/NewFolder1/SADS-Icons-06-180x180.png" style="max-width:180px;width:100%;vertical-align:middle;display:block;height:auto;margin:0 auto;">
                <h1 class="text-center" style="color:#f15622;font-size:20px;font-weight:700;letter-spacing:2px;font-family:Nunito, sans-serif;margin-top:18px;margin-bottom:10px;">Bags</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-2 col-offset-2">
                <img src="~/Content/NewFolder1/SADS-Icons-07-180x180.png" style="display:block;height:auto;max-width:180px;width:100%;margin:0 auto;">
                <h1 class="text-center" style="color:#f15622;font-size:20px;font-weight:700;letter-spacing:2px;font-family:Nunito, sans-serif;margin-top:18px;margin-bottom:10px;">Clothes</h1>
            </div>
            <div class="col-4" style="padding:0 8% 0 0;margin:0 2% 0 0;">
                <img src="~/Content/NewFolder1/SADS-Icons-08-180x180.png" style="display:block;height:auto;max-width:180px;width:100%;margin:0 auto;">
                <h1 class="text-center" style="color:#f15622;font-size:20px;font-weight:700;letter-spacing:2px;font-family:Nunito, sans-serif;margin-top:18px;margin-bottom:10px;">Furniture</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center" style="margin:5%;font-family:Nunito, sans-serif;"><strong>WHY DONATE THROUGH SADS</strong><br></h1><span style="content:&quot;&quot;;display:block;width:160px;height:5px;background-color:#f15622;margin:0 0 5%;bottom:-15px;left:50%;position:absolute;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <img src="~/Content/NewFolder1/sads-1-100x100.png" style="display:block;margin:0 auto;">
                <h1 class="text-center" style="font-size:25px;color:#f15622;font-weight:bold;letter-spacing:1px;font-family:Nunito, sans-serif;"><strong>Super Convenient</strong><br></h1>
                <p class="text-center">Donate reusable items from the convenience of<br>your house. Avail doorstep pickup and get your donations delivered to the ones in need.<br></p>
            </div>
            <div class="col-12 col-lg-4">
                <img src="~/Content/NewFolder1/sads-3-100x100.png" style="display:block;margin:0 auto;">
                <h1 class="text-center" style="font-size:25px;color:#f15622;font-weight:bold;letter-spacing:1px;font-family:Nunito, sans-serif;"><strong>Feel Good Factor</strong><br></h1>
                <p class="text-center">Giving gives you pleasure and makes you<br>happier bringing a&nbsp;positive and uplifting effect on you.<br></p>
            </div>
            <div class="col-12 col-lg-4">
                <img src="~/Content/NewFolder1/sads-5-100x100.png" style="display:block;margin:0 auto;">
                <h1 class="text-center" style="font-size:25px;color:#f15622;font-weight:bold;letter-spacing:1px;font-family:Nunito, sans-serif;"><strong>Your Donations are Valued</strong><br></h1>
                <p class="text-center">We make sure your donations reach someone who<br>really requires them by delivering them to the beneficiaries directly.<br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <img src="~/Content/NewFolder1/sads-2-100x100.png" style="display:block;margin:0 auto;">
                <h1 class="text-center" style="font-size:25px;color:#f15622;font-weight:bold;letter-spacing:1px;font-family:Nunito, sans-serif;"><strong>Transparent Process</strong><br></h1>
                <p class="text-center">Your donations reaches the beneficiaries as it is<br>through our verified trusted partner NGOs audited on regular basis<br></p>
            </div>
            <div class="col-12 col-lg-4">
                <img src="~/Content/NewFolder1/sads-4-100x100.png" style="display:block;margin:0 auto;">
                <h1 class="text-center" style="font-size:25px;color:#f15622;font-weight:bold;letter-spacing:1px;font-family:Nunito, sans-serif;"><strong>Get Surprise Rewards</strong><br></h1>
                <p class="text-center">We surprise you time to time by sending you<br>our exclusive “happiness box” containing surprise goodies and vouchers for you.<br></p>
            </div>
            <div class="col-12 col-lg-4">
                <img src="~/Content/NewFolder1/sads-6-100x100.png" style="display:block;margin:0 auto;">
                <h1 class="text-center" style="font-size:25px;color:#f15622;font-weight:bold;letter-spacing:1px;font-family:Nunito, sans-serif;"><strong>Save the Environment</strong><br></h1>
                <p class="text-center">Keep your unwanted belongings out of landfill by<br>giving them a new life and getting them in hands of someone who really requires them.<br></p>
            </div>
        </div>
    </div>
</section>
<section style="background-color:#f6f6f7;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-monospace text-center" style="font-family:Nunito, sans-serif;margin:5%;"><strong>RECENTLY ADDED NGOs</strong><br></h1><span style="content:&quot;&quot;;display:block;width:160px;height:5px;background-color:#f15622;bottom:-15px;left:50%;position:absolute;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);margin:0 0 5%;"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4" style="margin:2% 0 0 0;"><img src="~/Content/NewFolder1/LoveDale-logo.jpg" style="display:block;margin:0 auto;padding:5% 0;"><a href="https://sadsindia.org/ngo/lovedale-foundation/" style="margin:0 0 0 30%;">Lovedale Foundation</a></div>
            <div class="col-12 col-lg-4" style="margin:2% 0 0 0;">
                <img src="~/Content/NewFolder1/Mobility-India-logo.jpg" style="display:block;margin:0 auto;padding:5% 0;"><a class="text-monospace justify-content-center align-items-center align-content-center align-self-center"
                                                                                                                             href="https://sadsindia.org/ngo/mobility-india/" style="margin:0 0 0 33%;">Mobility India</a>
            </div>
            <div class="col-12 col-lg-4" style="margin:2% 0 0 0;">
                <img src="~/Content/NewFolder1/Sambhav.jpg" style="display:block;margin:0 auto;padding:5% 0;"><a class="text-monospace justify-content-center align-items-center align-content-center align-self-center" href="https://sadsindia.org/ngo/sambhav-foundation/"
                                                                                                                 style="margin:0 0 0 30%;">Sambhav Foundation<br></a>
            </div>
        </div>
        <div class="row" style="margin:3%;">
            <div class="col-12 offset-0 col-lg-4" style="/*margin-right:2px;*/"><img src="~/Content/NewFolder1/baalemane.jpg" style="display:block;margin:0 auto;padding:5% 0;"><a href="https://sadsindia.org/ngo/baale-mane-trust/" style="margin:0 0 0 30%;">Baale Mane Trust<br></a></div>
        </div>
        <div class="row" style="margin:0 3%;">
            <div class="col-12 offset-0 col-lg-4">
                <img src="~/Content/NewFolder1/accept.jpg" style="display:block;margin:0 auto;padding:5% 0;"><a class="text-monospace justify-content-center align-items-center align-content-center align-self-center" href="https://sadsindia.org/ngo/accept-society/"
                                                                                                                style="margin:0 0 0 33%;">Accept Society<br></a>
            </div>
        </div>
    </div>
</section>