<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">
                        <br><br>Become our Partner NGO<br>
                    </h1> <p style="font-size:17px;">
                        <br>We want your organization to get more non-monetary
                        donations – clothes, stationery, household goods and other items that you can
                        use to make a difference. Just tell us your requirements and we will fulfill
                        them in the best possible way.<br><br><strong>
                            How we support
                            NGOs?
                        </strong><br><br>We fulfill your needs by collecting donations from
                        different donors and deliver them to you<br>We spread awareness about the
                        different causes you support<br>We let people know about your great work and
                        your requirements<br>We connect you corporates &amp; volunteers.<br><br>To
                        become our partner, send us a mail at&nbsp;<a href="mailto:ngo@sadsindia.org">ngo@sadsindia.org</a>. Let’s Spread Happiness
                        together!!<br><br>
                    </p>
                </div>
            </div><img src="~/Content/NewFolder1/collage-site-ngo.jpg"
                       style="width:100%;">
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/UnderSpeed---Floating-Label.js"></script>
    <script src="assets/js/ebs-bootstrap-datepicker.js"></script>
    <script src="assets/js/Fixed-navbar-starting-with-transparency.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark.js"></script>
</body>