<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center"><br><strong>Smart Donation Drives</strong><br><br></h1>
                    <p class="text-center">
                        <br>SADS makes it super easy for you to organize collection drives at your society, workplace, tech<br>&nbsp;park, school etc. Just follow the below steps and we will make sure that your donations reach the<br>&nbsp;place they are
                        most needed.&nbsp;?<br><br>
                    </p><img src="~/Content/NewFolder1/smart-donation-art-white-text.png" style="width:100%;">
                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/UnderSpeed---Floating-Label.js"></script>
    <script src="assets/js/ebs-bootstrap-datepicker.js"></script>
    <script src="assets/js/Fixed-navbar-starting-with-transparency.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark.js"></script>
</body>
