<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center"><br><br><strong>Our Story</strong><br></h1>
                    <p style="font-size:17px;">
                        <br>Share At Door Step provides you with the most convenient and easy way to donate those items that are just lying at some corner of your house, gathering dust and taking up some much-needed space. It’s time to donate them and give
                        those books, toys, clothes etc a new life.There are many benefits to donating your old stuff to NGOs. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>There are many benefits to donating your old stuff to NGOs.<br>
                    </p>
                    <ul>
                        <li>items you donate support many great charitable causes<br></li>
                        <li>Keep your stuff out of a landfill. Donations help the environment!<br></li>
                        <li>Get organized! Clean out the clutter in your closets and garage<br></li>
                        <li>The “feel good” factor – we all know the happiness we get by spreading happiness<br></li>
                        <li>Get some amazing gifts from our brand partners<br></li>
                    </ul>
                    <p>
                        <br>…And much more!<br><br><strong>The story behind SADS</strong><br><br>“When I was a kid, my mom used to donate clothes on my birthday. I used to wonder why we do this just once a year. I figured out that there is a gap between donors
                        and NGOs as donors were not aware of the requirements of NGOs, had trust issues or were too busy to drive to the NGO. To fill this gap, SADS was born” –&nbsp;<a href="https://www.linkedin.com/in/anushka-jain-395a9616">Anushka, Founder SADS India</a><br><br>Read
                        our&nbsp;<a href="https://yourstory.com/2016/08/share-at-door-step/">full story</a><br><br>We would like to thank our donors for supporting various causes with us, to our volunteers for taking out time and to our partners for joining
                        hands with us and making a difference ?<br><br>
                    </p>
                    <h1><br><strong>Keep Spreading Happiness, Stay Happy!!</strong><br></h1>
                </div>
            </div><img src="~/Content/NewFolder1/spreadhappiness-collage.jpg" style="width:100%;">
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/UnderSpeed---Floating-Label.js"></script>
    <script src="assets/js/ebs-bootstrap-datepicker.js"></script>
    <script src="assets/js/Fixed-navbar-starting-with-transparency.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark.js"></script>
</body>